@model Vidly.Models.NewMovieViewModel


@{
    ViewBag.Title = "CreateOrEditMovie";
}

<h2>Movie Form</h2>


@using (Html.BeginForm("AddOrUpdateMovie", "Movie"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Movie.Id)
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.DateAdded)
        @Html.TextBoxFor(m => m.Movie.DateAdded, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.DateAdded, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreId)
        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.MovieGenres, "Id", "Genre"), "Select a Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenreId, "", new { @class = "text-danger" })

    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>

}
